#header {
  padding: 23px 0;
  display: block;
}

#hgroup-logo {
  @include outer-container;
  border-bottom: 3px solid #dcdcd5;
}

#logo {
  @include span-columns(1);
}

#logo > a {
  margin: 0 10px;
}

#tagline {
  @include span-columns(6);
  @include media($tablet) {
    display: none;
  }
}

#tagline > p {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #9c8d6c;
  letter-spacing: .07em;
  padding-left: 25px;
  margin-top: 62px;
}

#search {
  @include span-columns(5);
  @include omega();
}

#search-box {
  background: #fff;
  padding:10px;
  border:1 none;
  border-style:solid;
  border-color: #eee;
  margin-top: 55px;
  width: 100%;
}

#header-nav {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .06em;
  color: #f8f8f6;
  margin: 0 1px;
  display: block;
  position: relative;
}

#header-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}

#header-nav li {
  float: left;
}

#header-nav a {
  font-family: 'Roboto Slab', serif;
  color: #272423;
  text-shadow: 0 0.5px 0.5px #f8fcee;
  display: block;
  height: 71px;
  padding: 23px 0 0;
  width: 163px;
  background: url(html/images/header-nav.png) no-repeat 0 100%;
}

#nav-home a{
  background-position: -1px 100%;
}

#header-nav a:focus, #header-nav a:hover {
  color: #0d96cd;
}

// #active_page {
//   display: none;
// }

#header-nav > ul:after {
  content: "";
  clear: both;
  display: block;
}
